<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PraktisForiOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEE08EBE1FF27C6B00F25DDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEE08ED21FF27C6C00F25DDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEE08EDD1FF27C6C00F25DDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
